*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a{
    text-emphasis: none;
    text-decoration: none;
    color: #606468;

    /* this is for the android blue highliting issue  */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
header a:hover{
    text-decoration: none;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
    height: 100%;
  }
  
  body {
    background-color: #2c3338;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
  }

header{
    height:60px;
    width:100%;
    margin-bottom:30px;
    background-color: #202020;
    position:fixed !important;
    z-index:99;

}
nav{
    max-width: 80%;;
}
header ul{
    float:right;
}
header ul li{
    padding: 0px 10px 0px 10px;
    display:inline-block;
    line-height: 60px;
    font-size: 1.4rem;
}
header ul li a{
    text-decoration: none;
    color: #606468;
}
header ul li a:hover{
    color:#369666;
    text-decoration: none;
    cursor: pointer;
}

header ul li .active{
    color:#369666;
}
#logo_icon{
    fill:rgb(243, 161, 161);
    height:35px;
    width:35px;
    line-height: 60px;
    margin-top:10px;
    display: inline-block;
    margin-left:10%;
}
nav #logo_text{
    font-weight: bold;
    line-height: 60px;
    font-size: 35px;
}
nav #logo_text_accent{
    color:#369666;
}

#user_image_header{
    background-size: cover !important;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: absolute;
    right:20px;
    top:10px;
    border-radius:50%;
}

@media only screen and (max-width: 600px) {

    header nav{
        max-width: 100%;
        margin:0;
    }
    header{
        margin-bottom:50px;
        
    }
    header nav ul{
        display:block;
        background-color:black;
        width:100%;
        height:40px;
        margin-top:-5px;
    }
    header nav ul li{
        line-height: 40px;
        font-size: 1rem;
    }
    #logo_icon{
        margin-left:10px;
    }
    #user_logo{
        right:10px;
    }
  }

  #main{
      padding:10px;
      z-index:9;
      padding-top:120px;
      min-height: 100vh;
  }

  
#actionButton{
    z-index:99;
    border:none;
    outline:none;
    cursor: pointer;
    height:60px;
    width:60px;
    background-color:#369666;
    color:#fff;
    position:fixed;
    bottom:40px;
    right:20px;
    line-height:60px;
    font-size: 1.3rem;
    border-radius:50%;
    text-align:center;

    /* this is for the android blue highliting issue  */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#actionButton:hover{
    background-color: #266646;
}



#overlay-dark{
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.904);
    position:fixed;
    top:0;
    z-index:999;
    display: none; 

}
#overlay-dark form {
    max-width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    z-index:999;

}
#overlay-dark form input[type="text"]{
    height:40px;
    width:100%;
    border:none;
    background-color: #3b4148;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}
#overlay-dark form input[type="submit"]{
    height:40px;
    width:160px;
    border:none;
    background-color: #369666;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
    line-height: 0px;
    float:right;
    cursor: pointer;
}
#overlay-dark form input[type="submit"]:hover{
    background-color: #266646;
}
#overlay-dark form #closeSearch, .closeForm{
    height:60px;
    width:60px;
    background-color:rgb(245, 148, 148);
    position: absolute;
    right:450px;
    border-radius:50%;
    text-align: center;
    line-height: 60px;
    font-size: 3.3rem;
    color:#000;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .jumboButton{
        width:85%;
    }
    .jumboText{
        text-align:left !important;
        padding:40px;
        font-size:1rem;
        background-color: transparent;
    }
    #overlay-dark form {
        max-width:90%;
    }
    #overlay-dark form #closeSearch, .closeForm{
        right:200px;
    }
}