.jumboText{
        padding:60px;
        text-align:center;
        font-size:1.2rem;
        color:#369666;
        /* background-color:#202020; */
    }   
    .jumboText h2{
        color:#606468;
    }
    .jumboButton{
        background-color:#369666;
        color:#fff;
        height:50px;
        width:40%;
        border:none;
        margin-top:30px;
        border-radius:5px;
        outline:none;
        cursor: pointer;
}
.jumboButton:hover{
    background-color:#266646;

}

.searchform input[type="text"]{
    height:40px;
    width:600px;
    border:none;
    background-color: #3b4148;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}

.searchform input[type="submit"]{
    margin-left:20px;
    height:60px;
    width:120px;
    border:none;
    background-color: #369666;
    padding:20px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
    cursor:pointer;
}
.searchform{
    margin-bottom:120px;
}

@media only screen and (max-width: 900px) {
    .searchform{
        display:none;
    }
}
@media only screen and (max-width: 600px) {
    .jumboButton{
        width:90%;
    }
    .jumboText{
        padding:40px;
    }
}

#uploadFormContainer{
    height:2400px;
    overflow-y: scroll;
    margin-left:-10px;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.904);
    position:fixed;
    top:0;
    z-index:999;
    display: none; 

}

#uploadFormContainer form {
    max-width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    z-index:999;
    height:800px;
    position: relative;
}
#uploadFormContainer form input, #uploadFormContainer form textarea{
    display:block;
    margin-top: 14px;
}
#uploadFormContainer form input[type="text"]{
    height:40px;
    width:100%;
    border:none;
    background-color: #3b4148;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}
#uploadFormContainer form input[type="submit"], .submit-btn{
    height:40px;
    width:140px;
    border:none;
    background-color: #369666;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
    line-height: 0px;
    float:right;
    cursor: pointer;
}
#uploadFormContainer form input[type="submit"]:hover{
    background-color: #266646;
}
#uploadFormContainer form textarea{
    height:170px;
    width:100%;
    border:none;
    background-color: #3b4148;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}

@media only screen and (max-width: 600px) {
    #uploadFormContainer form {
        max-width:90%;
    }
}

#uploadFormContainer .closeForm{
    right:0px;
    top:12px;
}