.jumboText{
        padding:60px;
        text-align:center;
        font-size:1.2rem;
        color:#369666;
        /* background-color:#202020; */
    }   
    .jumboText h2{
        color:#606468;
    }
    .jumboButton{
        background-color:#369666;
        color:#fff;
        height:50px;
        width:40%;
        border:none;
        margin-top:30px;
        border-radius:5px;
        outline:none;
        cursor: pointer;
}
.jumboButton:hover{
    background-color:#266646;

}

.searchform input[type="text"]{
    height:40px;
    width:600px;
    border:none;
    background-color: #3b4148;
    padding:30px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}

.searchform input[type="submit"]{
    margin-left:20px;
    height:60px;
    width:120px;
    border:none;
    background-color: #369666;
    padding:20px;
    font-size: large;
    color:#fff;
    border:none;
    border-radius: 6px;
    outline: none;
}
.searchform{
    margin-bottom:120px;
}

@media only screen and (max-width: 900px) {
    .searchform{
        display:none;
    }
}